.imgcontainer{
    text-align:center;
    }
    
    img{
        width:70%;
        height:65%;
        margin:auto;
        display:block;
    
    
    }
    .button{
    
        text-align:center;
    }
    .stat{
    text-align:center;
    
    }
    .res{
    border-style:solid;

    }
    .btnround{
        border-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
.navbar-brand{
margin:0;
padding:0;
}
.logo{
    
    height:50px;
    paading-right:15px;
    paading-left:5px;
}
.navbar-inverse{
   height:65px;
    padding-top:5px;
}
  
    
